<div class="jumbotron">
  <h1>Node.js Graph Tutorial</h1>
  <p class="lead">This sample app shows how to use the Microsoft Graph API to access Outlook and OneDrive data from Node.js</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
  {{else}}
    <a href="/devicecode" class="btn btn-primary btn-large">Sign in with device code</a>
  {{/if}}
</div>